body{
    margin:0;
    padding:0;
    font-family:Sans-serif
}
a{
    text-decoration:none;
    color:orange;
}
h1{
    font-weight:400;
}
h2{
    font-weight:300;
    margin-bottom:50px;
}
span{
    color:orange;
    font-weight:600
}
.main-part{
    display:flex;
}
.half-info{
    width:50%;
    padding:40px;

}
button{
background: linear-gradient(orange,red);
padding:5px 20px;
border-radius:5px;
}
button a{
    color:white;
}
.pimg{
    width:50%;
    text-align:center;
    margin-top:30px;
}
.pimg img{
    height:400px;width:400px;
    border-radius:50%;
    background:linear-gradient(red,orange);
}
.sabuj{
    margin-top:0;
    margin-bottom:0;
    color:orange;
}
.web{
    margin-top:0;
}
.blog{
    display:flex;
    margin-top:40px;

}
.computer{
    width:50%;
    text-align:center;
}
.computer img{
    border-radius: 50%;;
}
.dream-blog{
    width:50%;
}
.experiences{
    display:flex;
}
.fulls{
    width:40%;
    margin-left :5%;
    margin-right:5%;
    padding-left:20px;
    border-radius:10px;
    box-shadow: 10px 10px 40px gray;
    border-left:7px solid blue;
}
#right{
    border-left:7px solid red;
}
footer p{
    text-align:center;
    margin-top:50px;

}